{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static "FusionCharts/fusioncharts.js" %}"></script>
    <script type="text/javascript" src="{% static "FusionCharts/fusioncharts.theme.fin.js" %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</head>
<body>
{% block content %}
{% endblock %}
</body>
    {% block extrajs %}
    {% endblock %}
</html>